* {
  box-sizing: border-box;
}
body {
  background-color: lightgreen;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 400px;
  max-width: 100%;
  padding: 20px;
}

.success {
  border: 2px solid green;
}

/* small {
  visibility: hidden;
} */
small {
  visibility: hidden;
}
.pesan {
  visibility: visible;
  font-style: italic;
  color: red;
  margin-left: 20px;
}
.error {
  border: 2px solid red;
}

.success {
  border: 2px solid green;
}

.warning {
  border: 2px solid orange;
}
.pSuccess {
  visibility: hidden;
}
